<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="BoardMapper">

	<insert id="write">
		INSERT INTO BOARD
		(
			TITLE
			, CONTENT
			, WRITER_NO
		)
		VALUES
		(
			#{title}
			, #{content}
			, #{writerNo}		
		)
	</insert>
	<select id="selectBoardList" resultType="BoardVo">
		SELECT B.NO, TITLE, NICK AS WRITER_NICK , HIT
		FROM BOARD B
		JOIN MEMBER M
		ON (M.NO = B.WRITER_NO)
		<where>
			<if test="searchType==1 or searchType == 3">
				TITLE LIKE '%${searchText}%'
			</if>
			<if test="searchType==2 or searchType==3">
				OR CONTENT LIKE '%${searchText}%'
			</if>
		</where>
		ORDER BY NO DESC
	</select>
	<select id="selectBoardByNo" resultType="BoardVo">
		SELECT *
		FROM BOARD
		WHERE NO = #{no}
	</select>
	<update id="hitBoard">
		UPDATE BOARD SET
		HIT = HIT+1
		WHERE NO = #{no}
	</update>

</mapper>
